appname = yooyin
httpport = 8080
runmode = dev
autorender = false
copyrequestbody = true
EnableDocs = true
# database
databaseHost=localhost
databasePort=3306
databaseUserName=
databasePasswd=
databaseName=
